# Master File for Mechanical Turk Survey #
**Author** Andrew Larkin <br>
**Principal Investigator** Perry Hystad <br>
**Date** April 9, 2020 <br>
**Summary** Generating and managing survey requests through the Amazon mechanical turk api (boto3)

### import libraries and define global constants

In [7]:
import import_ipynb
from mtAPIWrapper import MTWrapper
import pandas as ps
import globalConstants as gConst

In [8]:
mtAPI = MTWrapper(gConst.ACCESS_KEY,gConst.ACCESS_SECRET,gConst.SURVEY_FILEPATH,True)
print("balance: " +str(mtAPI.getBalance()))
countByState = ps.read_csv(gConst.NUM_RECORDS_BY_STATE_CSV,names=['State','Count'])
countByState = countByState[countByState['State']!='Other']
mtAPI.setupSurveysByState(countByState)
mtAPI.setStateIndex(0)

balance: 492.42
sucessfully set state index to: 0

In [73]:
print("balance: " +str(mtAPI.getBalance()))

balance: 288.86

In [77]:
mtAPI.hitNextState()
#mtAPI.getStateIndex()

                state index is at the end of the state list.
                If you'd like to cycle through the states again, reset the index to 0

In [20]:
mtAPI.getCountsByState()

   State  Count  sampSize
0     CA    467        33
1     TX    441        59
2     FL    441        59
3     NY    412        88
4     PA    402        98
5     IL    380       120
6     MI    328       172
7     OH    308       192
8     NJ    302       198
9     VA    289       200
10    WA    258       200
11    GA    251       200
12    NC    248       200
13    MD    209       200
14    OR    183       200
15    MA    183       200
16    AZ    177       200
17    MN    156       200
18    MO    142       200
19    SC    132       200
20    WI    132       200
21    TN    128       200
22    CO    125       200
23    IN    115       200
24    KY     95       200
25    LA     81       200
26    NV     76       200
27    CT     75       200
28    UT     57       200
29    OK     52       200
30    AL     50       200
31    IA     47       200
32    KS     41       200
33    DE     39       200
34    HI     37       200
35    WV     35       200
36    NE     34       200
37    ME     34       200
38    AR     33       200
39    MS     33       200
40    DC     31       200
41    ID     30       200
42    NH     28       200
43    NM     27       200
44    RI     21       200
45    SD     14       200
46    VT     13       200
47    WY     12       200
48    ND      8       200
49    AK      5       200
50    MT      3       200

In [ ]:
def expireHits():
    hitMeta = mturk.list_hits()
    hits = hitMeta['HITs']
    nextToken = hitMeta['NextToken']
    hitMeta = mturk.list_hits(NextToken = nextToken)
    while(hitMeta['NumResults']>0):
        hits += hitMeta['HITs']
        nextToken = hitMeta['NextToken']
        hitMeta = mturk.list_hits(NextToken = nextToken)
    for hit in hits:
        response = mturk.update_expiration_for_hit(
        HITId=hit['HITId'],
        ExpireAt=datetime(2015, 1, 1)
        )
expireHits()